<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 
    <!--<link rel="icon" href="/icon/Gemak.ico" type="image/x-icon">--> 
    <title>PIA</title>
    <!-- Boostrap 4--> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">             
    <!-- iconos --> 
    <script src="https://kit.fontawesome.com/86322b1947.js" crossorigin="anonymous"></script>
    <!------ JQUERY PARA USAR AJAX ----->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/Consultas.js"></script>

     <!-- GENERAR EXCEL -->
     <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script><!-- GENERAR EXCEL -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script><!-- GENERAR EXCEL -->
</head>
<body>
 
    <button onclick="Comparar()">Comparar</button>
    <button onclick="Mostrar()">Mostrar</button>
    <style>
        body { background-color: #000000; }
    </style>
</body>
</html>